/* Navbar container */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    background-color: #04152b;
    /* Dark blue theme */
    color: #f4f4f9;
    border-bottom: 1px solid #092244;
    /* Subtle border at the bottom */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Left side: Logo and title */
.navbar-left {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: transform 0.2s ease, color 0.3s ease;
  }

  .navbar-left:hover {
    transform: scale(1.05);
  }
  

  .logo-icon {
    background-color: #1a5d75;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  .navbar-title {
    font-size: 1.5rem;
    color: #3fa6d6;
    letter-spacing: 1px;
    text-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
    transition: color 0.3s ease;
  }
  
  .navbar-left:hover .navbar-title {
    color: #144c5c;
  }

/* Right side: Profile and Logout buttons */
.navbar-right {
    display: flex;
    gap: 15px;
}

.navbar-button {
    padding: 10px 20px;
    background-color: #1a5d75;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.navbar-button:hover {
    background-color: #144c5c;
    transform: scale(1.05);
}

.navbar-button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(26, 93, 117, 0.5);
}